.root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff7a;
  z-index: 3;
  .container {
    position: relative;
    width: 50%;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: #ffffffd8;
      width: 1rem;
      height: 1rem;
      padding: 13px;
      right: 5px;
      top: 10px;
      border-radius: 50%;
      cursor: pointer;

      svg {
        color: #363636;
      }
    }
    img {
      border-radius: 15px;
      width: 100%;
      object-fit: contain;
    }
  }
}
