.root {
  width: 50%;

  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .createPost {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 15px;
      padding: 20px;
      gap: 20px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.83);
        opacity: 0.8;
      }
      img {
        border-radius: 15px;
        width: 50px;
        height: 50px;
      }
      span {
        font-size: 13px;
        font-weight: 500;
        color: rgb(145, 164, 191);
      }
    }
    .posts {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .post {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 15px;
        padding: 20px;
        cursor: pointer;
        transition: 0.5s;
        gap: 20px;

        .author {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            border-radius: 15px;
            width: 50px;
            height: 50px;
          }
          .authorInfo {
            h4 {
              color: #1d3a5f;
            }
            span {
              font-weight: 400;
              font-size: 13px;
              color: rgb(145, 164, 191);
            }
          }
        }
        .description {
          font-weight: 400;
          color: #1d3a5f;
        }
        .images {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background-color: #1d3a5f;

          img {
            border-radius: 15px;
            width: 100%;
            aspect-ratio: 3/2;
            object-fit: contain;
          }
        }
      }
    }
  }
}
