.root {
  display: flex;
  height: 100px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.15);

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    .logo {
      a {
        text-decoration: none;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        display: flex;

        svg {
          border-radius: 15px;
          width: 50px;
          height: 50px;
        }
        span {
          font-size: 20px;
          font-weight: 600;
          color: #23446e;
        }
      }
    }
    .actions {
      display: flex;
      align-items: center;
      gap: 30px;
      .search {
        display: flex;
        background-color: #f4f5f8;
        padding: 15px;
        border-radius: 10px;
        padding-right: 60px;
        gap: 10px;

        svg {
          color: #bfc7d2;
          width: 15px;
          height: 15px;
        }
        input {
          background-color: inherit;
          outline: none;
          border: none;

          &::placeholder {
            color: #bfc7d2;
          }
        }
      }
    }
    .create {
      display: flex;
      align-items: center;
      border-radius: 10px;
      padding: 12px;
      color: white;
      background-color: #1877f2;
      gap: 10px;
      cursor: pointer;
    }
    .avatar {
      cursor: pointer;
      img {
        border-radius: 15px;
        width: 50px;
        height: 50px;
      }
    }
    .signIn {
      a {
        text-decoration: none;
        display: flex;
        gap: 10px;
        color: #23446e;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          opacity: 0.8;
        }
        svg {
          font-size: 20px;
        }
        span {
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
    .signUp {
      a {
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 12px;
        color: white;
        background-color: #1877f2;
        gap: 10px;
        cursor: pointer;
        transition: 0.5s;
        text-decoration: none;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
