.root {
  position: relative;

  .search {
    display: flex;
    background-color: #f4f5f8;
    padding: 15px;
    border-radius: 10px;
    padding-right: 30px;
    gap: 10px;

    svg {
      color: #bfc7d2;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
    input {
      width: 100%;
      background-color: inherit;
      outline: none;
      border: none;

      &::placeholder {
        color: #bfc7d2;
      }
    }
  }
  .results {
    z-index: 4444;
    position: absolute;
    background-color: #fff;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 10px 0px;
      .user {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 20px;
        gap: 10px;
        .avatar {
          width: 50px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
    .info {
      word-break: break-all;
      h4 {
        color: #1d3a5f;
        cursor: pointer;
      }
      span {
        font-weight: 400;
        color: rgb(145, 164, 191);
      }
    }
  }
}
