* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.swal-overlay--show-modal .swal-modal {
  will-change: initial;

  .swal-text {
    width: 80%;
    text-align: center;
  }
}

a {
  text-decoration: none;
}
